<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myPro.attendance.mapper.ClockInRecordMapper">

    <select id="selectFirstRecord" resultType="com.myPro.model.app.ClockInRecord">
        SELECT *
        FROM `clock_in_record`
        WHERE user_id = #{ userId } AND is_deleted = 0
        ORDER BY clock_in_time DESC
        LIMIT 1;
    </select>
    <select id="selectCountThisMonth" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `clock_in_record`
        WHERE `clock_in_time` BETWEEN DATE_FORMAT(NOW() ,'%Y-%m-01') AND LAST_DAY(NOW())
        AND user_id = #{ userId }
        AND is_deleted = 0;
    </select>
    <select id="getRecordsByDays" resultType="com.myPro.DO.ClockInRecordDo">
        SELECT DATE(clock_in_time) AS clockInRecordDate,COUNT(*) AS recordNum FROM `clock_in_record`
        WHERE clock_in_time >= DATE_SUB(CURDATE(),INTERVAL #{ days } DAY)
        AND `is_deleted` = 0
        GROUP BY DATE(clock_in_time)
        ORDER BY clockInRecordDate DESC
    </select>
    <select id="getOneDeptCountByDays" resultType="com.myPro.DO.ClockInRecordDo">
        SELECT COUNT(*) AS recordNum,(
        SELECT `name` FROM dept
        WHERE id = #{ deptId }
        ) AS deptName
        FROM `clock_in_record`
        WHERE user_id IN(
        SELECT id AS user_id FROM `sys_user`
        WHERE dept_id = #{ deptId }
        )
        AND clock_in_time >= DATE_SUB(CURDATE(),INTERVAL #{ days } DAY)
    </select>
    <select id="getUserRecordNumInOneDay" resultType="com.myPro.model.web.SysUser">
        SELECT `sys_user`.*
        FROM `sys_user`
        ,(
        SELECT COUNT(*) AS num
        FROM `clock_in_record`
        WHERE `type` = #{ type }
        AND user_id = #{ userId }
        AND DATE(clock_in_time) = DATE_SUB(CURDATE(),INTERVAL #{ days } DAY)
        ) AS t
        WHERE id = #{ userId }
        AND t.num = 0
    </select>

</mapper>